body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fjalla One", sans-serif;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  text-align: center;
  height: 15vh;
  flex-wrap: wrap;
}

nav a {
  color: rgba(98, 85, 75, 0.982);
  text-decoration: none;
  font-size: 1.4em;
  display: flex;
  font-family: "B20 Sans";
  background-color: transparent;
  height: 30%;
  padding: 0px 75px;
  margin: 0px 15px;
  align-items: center;
}

.imgt {
  height: 100%;
  width: 20%;
  opacity: 1;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.imgt2 {
  height: 70%;
  width: 100%;
  opacity: 1;
  z-index: 1;
  position: relative;
  top: 3%;
  left: 0;
}

a {
  text-decoration: none;
  background-image: linear-gradient(rgb(29, 146, 224), rgb(29, 146, 224));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.8s;
  font-weight: bold;
  
}

#anav{
  font-family: 'Pacifico', cursive;
}
#anav:hover,
#anav:focus {
  background-size: 100% 2px;
  color: rgb(29, 146, 224);
}

.act {
  color: rgb(29, 146, 224);
  
}

.central {
  position: relative;
}
.slide {
  margin-top: 10px;
  top: 15vh;
  display: flex;
}

.slide img {
  height: 75vh;
}

#tit {
  
  color: WHITE;
  z-index: 1000;
  background-color:transparent;
  margin: 0;
  padding: 0;
  font-size: 1.5cm;
  position: absolute;
  /* left: 45vw;
  top: 30vh; */
  font-family: 'Pacifico', cursive;
  
}
.piepag{
  display: flex;
  justify-content: space-between;
  height: 9%; 
  background:black; 
  width:100%; 
  position:absolute; 
  bottom:0; 
  left:0; 
  background-color: rgba(177, 173, 173, 0.982);

}
#copy{
   margin-left: 6%;
   font-size: large;
   font-style: italic;
   font-weight: bold;
   align-items: center;
   display:flex;
}
#enlaces{
  margin-right: 8%;
  width: 15%;
  align-items: center;
  display: flex;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.lif{

  list-style: none;
  padding-left: 15%;
  padding-right: 15%;
  align-items: center;
  
}
.box1 {
  width: 100%;
  height: 15%;
 
}
.box2 {
  width: 100%;
  height: 75%;
  display: flex;
  position: relative; 
  /* align-items: center; */
  /* justify-content: center; */
  top: 15vh;
  flex-direction: column;
  
}
.box3 {
  width: 100%;
  height: 10%;
 
}
.kont{
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#demo{
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 14px;
  color: white;
  background-color:darkolivegreen;
  border-radius: 3px;
  border: 1px solid #303030;
  padding: 5px;
  margin: 3px;
  z-index: 2001;
}

.container {
  margin:0px auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
}
.tarjeta {
  float: left;
    border: 1px solid red;
    margin:4px; padding: 2px;
    width:300px;
    height:210px;
    overflow: hidden;
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
}
.b2{
  background-color: rgba(164, 170, 35, 0.982);
  
}