h1,
h2,
h3,
h4,
h5 {
  font-family: "Fjalla One", sans-serif;
}

.kont {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.b1 {
  width: 100%;
  height: 15%;
  display: flex;
  background-color: rgba(177, 173, 173, 0.982);
}

.b2 {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  background-color: rgba(184, 151, 126, 0.982)
}

.b3 {
  width: 100%;
  height: 10%;
  display: flex;
  background-color: rgba(177, 173, 173, 0.982);
  justify-content: space-between;
}

#b10 {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#b11 {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.imgt {
  height: 80%;
  width: 80%;
}

.anav {
  font-family: 'Pacifico', cursive;

  text-decoration: none;
  background-image: linear-gradient(rgb(29, 146, 224), rgb(29, 146, 224));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.8s;
  font-weight: bold;
  padding: 0px 20px;
  margin: 0px 15px;
  font-size: 1.3em;
  color: black;
}

.anav:hover,
.anav:focus {
  background-size: 100% 2px;
  color: rgb(29, 146, 224);
}

.act {
  color: rgb(29, 146, 224);
}

#contenido {

  color: black;
  font-size: 1.3em;
  display: flex;
  height: 100%;
  padding: 0px 0px;
  margin: 0px 0px;
  align-items: center;
  width: 30%;
  text-align: right;
  background-color: rgba(108, 106, 106, 0.982);
}

.tarjeta {

  display: flex;
  margin: 0px;
  padding: 0px;
  width: 70%;
  height: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 14px;
  margin: auto;
  align-items: center;
  justify-content: right;
}

.tarjeta2 {

  margin: 0px;
  padding: 0px;
  width: 30%;
  height: 85%;
  font-family: 'Pacifico', cursive;
  font-size: 14px;
  margin: auto;
  display: flex;
  align-items: center;
}

.b31 {
  width: 40%;
  font-size: large;
  font-style: italic;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}

.b32 {
  width: 60%;
  display: flex;
  justify-content: right;
}

.b3icon {
  width: 60%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-bottom: 0;

}



.slide {
  margin-top: 10px;
  top: 15vh;
  display: flex;
}

.slide img {
  height: 75vh;
}

#tit {
  color: WHITE;
  z-index: 1000;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 1.5cm;
  position: absolute;
  font-family: 'Pacifico', cursive;
}


button {
  font-size: 14px;
  color: white;
  background-color: rgb(29, 146, 224);
  border-radius: 3px;
  border: 1px solid #303030;
  padding: 5px;
  margin: 3px;
  z-index: 2001;
}


/* data del formulario */
.form {
  max-inline-size: 980px;
  margin: 0;
  width: 100%;
}

.form label {
  display: block;
  margin-block-start: 1em;
  margin-block-end: .5em;
  padding-inline-start: .5em;
}

.form label span {
  color: #DA1414;
}

.form input,
.form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: .8em;
  border-radius: .5em;
  border: 1px solid #858C94;
}

.form textarea {
  margin-block-end: 2em;
  font-family: inherit;
}

input::-webkit-input-placeholder {
  color: #0F0A0A88;
}

/* data del formulario */

/* box2 quienes somos */

.textQS {

  color: #d67818 !important;
  font-family: 'Palanquin Dark';
  line-height: 1;
  font-weight: 700;
  text-align: left;
  font-size: 3.75rem;
  margin: 0% 5% 0% 5%;
}

#box20 {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#box21 {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box22 {
  width: 90%;
  height: 35%;
  display: flex;
}

#box220 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

#box221 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

#text221 {
  color: #555c66 !important;
  line-height: 1.6;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: bold;
  text-align: center;
}

.divimgbox21 {
  width: 33%;
  height: 100%;
  display: flex;
  padding: 0.2%;
  margin: 0.2%;
  justify-content: center;
  align-items: center;
}

.iframe {
  width: 80%;
  height: 80%;
}



.box2ubi {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}


#divubi0 {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;

}

#divubi01 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#divubi1 {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#h1ubi {
  color: #d67818 !important;
  font-family: 'Palanquin Dark';
  font-size: 1.5rem;
  text-transform: uppercase;
}

.b2index {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgba(184, 151, 126, 0.982);
}

a {
  line-height: 1.5;
}

a img {
  vertical-align: middle;
}

.textcontact {
  color: #d67818;
  font-family: 'Palanquin Dark';
  font-size: 1rem;
  text-transform: uppercase;
  display: inline;
}

.textcontact1 {
  display: block;
}

.imgcontact {
  display: inline;
}

.licontact {
  margin-bottom: 10%;

}

body {

  margin: 0;
}


/* Extra small devices (600px and down) */
@media only screen and (max-width: 600px) {
  /* .b2 {
    background: red;
  } */

  .anav {
    font-size: 0.7em;
    padding: 0px 1px;
    margin: 0px 1px;
  }

  .tarjeta {
    font-size: 9px;
  }

  .b31 {
    font-size: small;
  }

  .form {
    width: 90%;
  }

  #message {
    margin-bottom: 10px
  }


}

/* Small devices (600px and up) */
@media only screen and (min-width: 600px) {
  /* .b2 {
    background: green;
  } */

  .anav {
    font-size: 0.8em;
    padding: 0px 5px;
    margin: 0px 3px;
  }

  .tarjeta {
    font-size: 11px;
  }

  .b31 {
    font-size: medium;
  }


}

/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {
  /* .b2 {
    background: blue;
  } */

  .anav {
    font-size: 0.9em;
    padding: 0px 10px;
    margin: 0px 5px;
  }

  .tarjeta {
    font-size: 12px;
  }

  .b31 {
    font-size: medium;
  }

}

/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
  /* .b2 {
    background: orange;
    ;
  } */

  .anav {
    font-size: 1.0em;
    padding: 0px 15px;
    margin: 0px 10px;
  }

  .tarjeta {
    font-size: 13px;
  }

}

/* Extra large devices (1200px and up) */
@media only screen and (min-width: 1200px) {
  .b2 {
    /* background: pink; */
    display: flex;
  }

  .anav {
    font-size: 1.3em;
    padding: 0px 20px;
    margin: 0px 15px;
  }

  .tarjeta {
    font-size: 15px;
  }
}

.imgclima {
  height: 55%;
  width: 95%;
}

/* ------------------ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}

h1 {
  text-align: center;
  position: relative;
  width: 80%;
  margin: 20px auto;
  color: #d67818 !important;
  font-family: 'Palanquin Dark';
  font-size: 1.9rem;
  text-transform: uppercase;
  background-color: transparent;


}

body {
  background-color: #ecf4fb;
}

.img-gallery {
  width: 80%;
  margin: 20px auto 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.img-gallery img {
  width: 100%;
  cursor: pointer;
  transition: 1s;
  height: 100%;
}

.img-gallery img:hover {
  transform: scale(1.2);
}

.ful-img {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.ful-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.ful-img img {
  width: 80%;
  max-width: 1200px;
}

#b2galery {
  flex-direction: column;
}

